.home{
    display: flexbox;
    align-items: center;
    justify-content: space-evenly;
}
.users{
    background-color: rgba(0, 0, 0, 0.774);
    height: 100px;
    max-width: 200px;
    padding: 20px;
    font-size: 30px;
    font-weight: 700;
    color: aliceblue;
    border-radius:20px;
    margin: 100px;
    border: none;
}
.users:hover{
    background-color: black;
}
.add{
    background-color: #007bff;
    height: 100px;
    max-width: 200px;
    padding: 20px;
    font-size: 30px;
    font-weight: 700;
    color: aliceblue;
    border-radius:20px;
    margin: 100px;
    border: none;
}
.add:hover{
    background-color: #0056b3;
}